if error
  div
    p Error: #{error}

- const datos = datosCompletados || {}

form(action="/publicar" method="post" enctype="multipart/form-data")
      
      
      div
        label(for="title") Título de la publicación:
        br
        input(type="text" name="title" id="title" value=datos.title required)
      
      br
      
      div
        label(for="description") Descripción de la fotografía:
        br
        
        textarea(name="description" id="description" rows="4" cols="40" required) #{datos.description || ''}
      
      br
    
      div
        label(for="imageFile") Seleccionar Imagen desde tu dispositivo:
        br
        input(type="file" name="imageFile" id="imageFile" accept="image/*" required)
      
      br
      
      div
        label(for="license") Tipo de Licencia:
        br
        select(name="license" id="license" required)
          option(value="free" selected=datos.license === 'free') Libre (Free)
          option(value="copyright" selected=datos.license === 'copyright') Con Copyright (Derechos Reservados)

      br
      
      div
        label(for="watermarkText") Texto para la Marca de Agua (Obligatorio):
        br
        input(type="text" name="watermarkText" id="watermarkText" value=datos.watermarkText required placeholder="Ej: Propiedad de Ian")

      br
      input(type="submit" value="Publicar")